<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= flash.notice %>
  <%= flash.alert %>

  <% for type, message in flash %>
    <p class="<%= type %> message">
      <%= message %>
    </p>
  <% end %>

  <%= link_to t("menu.signup"), "/signup" %>
  <%= link_to t("menu.login"), "/login" %>

  <% if logged_in? %>
    Olá, <%= current_user.name %>
    <%= t("user.greeting", name: current_user.name) %>
  <% end %>

  <%= yield %>

  </body>
</html>
